{% extends '::base.html.twig' %}

{% block title %}Accueil général{% endblock%}

{% block body %}
<h1>Nos sections</h1>
<h2>Cliquez sur la section</h2>
{% include 'ExempleAnnotationBundle:Default:menu.html.twig'%}

{% endblock%}
