{# empty Twig template #}
<h4>
            <ul><li>
                    <a href ="{{ url('accueil')}}">Accueil</a>
        </li>
                <li>
                    <a href ="{{ url('auteur2')}}">Auteur</a>
        </li><li>
                    <a href ="{{ url('livre')}}">Livre</a>
        </li><li>
                    <a href ="{{ url('commentaire')}}">Commentaire</a>
        </li></ul>
        
</h4>