{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Auteur edit</h1> {% include 'ExempleAnnotationBundle:Default:menu.html.twig'%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('auteur2') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
